.Section {

  & .Section--latestTrack {
    @include span(5 of 12 last);
  }

}

.Section-title {
  font-family: $font-family-serif;
  font-family: 'infinibold';
  font-size: 4.209rem;
  line-height: 1.1;
}
