$breakpoints: (
  small:  $breakpoint-sm,
  medium: $breakpoint-md,
  large:  $breakpoint-lg
);

$typi-breakpoint: mappy-breakpoints;

// Baseline = $font-size-base * $line-height-base
// Use vr(x) for multiples of baseline
$typi: (
  null:  ($font-size-base, $line-height-base),
  small:  $font-size-sm,
  medium: $font-size-md,
  large:  $font-size-lg
);

$h1-font-map: (
  null:  (2em, 1.2),
  small: (3em, 1.3)
);

html {
  @include typi-base();
  font-family: $base-font-family;
}

h1 {
  @include typi($h1-font-map);
}

ul, ol {
  padding: 0;
  list-style-position: outside;
  margin-left: 1rem;
  margin-left: 1.7rem; /* 1rem + 0.5 baseline */
}
li + li {
  margin-top: 0.35rem; /* 0.25 baseline */
}
