.u-screenReader {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.u-cf::after {
  content: "";
  // display: table;
  display: block; /* http://cssmojo.com/the-very-latest-clearfix-reloaded/ */
  clear: both;
}
