/**
 * Typography
 */
$font-family-base: "Inconsolata", monospace;
$font-family-serif: "Space Mono";

$font-size-base: 16px;
$font-size-sm:   16px;
$font-size-md:   18px;
$font-size-lg:   18px;

$line-height-base: 1.3;
$base-font-weight: 400;

// Modular Scale
$ms-ratio: 1.33;

$small-font-size: 80%;



$spacing-unit: vr(2);


/**
 * Colors
 */
$text-color:       #FFDFE5;
$background-color: #150510;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



/**
 * Breakpoints
 */
$breakpoint-sm:  600px;
$breakpoint-md:  960px;
$breakpoint-lg: 1200px;
$content-width: 1200px;
