<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aspernatur, officiis error provident hic, recusandae optio at sequi non porro amet, laborum qui neque, nesciunt quia ipsum aperiam est. Quia.</p>
        <p>Facilis officiis eum officia, sint doloremque nulla, quisquam modi porro provident sed veniam repudiandae minus quas a harum atque dolorem quae cum commodi hic! Unde odit accusantium alias itaque, quibusdam!</p>
        <p>Fuga veniam repellendus magnam fugiat eaque pariatur ad, ducimus debitis, neque perferendis quas enim quam corporis, ipsa nisi distinctio consequatur? Itaque, quibusdam. Recusandae doloribus, iure mollitia minus enim voluptatibus nulla?</p>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
